{% extends 'admin/admin_base.html' %}
{% load static %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>

        <div class="alert mb-2" style="background-color: #404E67;">
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item text-white"> Pakage Line Member 
                    </li>
                  </ol>
                </div>
              </div>
        </div>

        <div class="content-body">
            <!-- users list start -->
            <section class="users-list-wrapper">
                <!-- <div class="users-list-filter px-1">
                    <form>
                        <div class="row border border-light rounded py-2 mb-2">
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-verified">Verified</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-verified">
                                        <option value="">Any</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-role">Role</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-role">
                                        <option value="">Any</option>
                                        <option value="User">User</option>
                                        <option value="Staff">Staff</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-status">Status</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-status">
                                        <option value="">Any</option>
                                        <option value="Active">Active</option>
                                        <option value="Close">Close</option>
                                        <option value="Banned">Banned</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                                <button class="btn btn-block btn-primary glow">Show</button>
                            </div>
                        </div>
                    </form>
                </div> -->
                <div class="users-list-table">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <!-- datatable start -->
                                <div class="table-responsive">
                                    
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="users-list-datatable" class="table dataTable no-footer"
                                                    role="grid" aria-describedby="users-list-datatable_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="id: activate to sort column descending"
                                                                style="width: 31px;" aria-sort="ascending">User Id</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="username: activate to sort column ascending"
                                                                style="width: 116px;">Full Name</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="name: activate to sort column ascending"
                                                                style="width: 169px;">Joining Date</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="last activity: activate to sort column ascending"
                                                                style="width: 123px;">Email </th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="verified: activate to sort column ascending"
                                                                style="width: 85px;">Phone </th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="role: activate to sort column ascending"
                                                                style="width: 50px;">Spondor Id</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="status: activate to sort column ascending"
                                                                style="width: 72px;">Action</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">316</td>
                                                            <td><a
                                                                    href="../../../html/ltr/vertical-menu-template/page-users-view.html">gregory2309</a>
                                                            </td>
                                                            <td>Gregory Hayden</td>
                                                            <td>23/09/2019</td>
                                                            <td>Yes</td>
                                                            <td>User </td>
                                                            <td><a href="#"><i class="feather icon-edit-1"></i></a>
                                                                <a href="#">
                                                                    <i class="feather icon-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">316</td>
                                                            <td><a
                                                                    href="../../../html/ltr/vertical-menu-template/page-users-view.html">gregory2309</a>
                                                            </td>
                                                            <td>Gregory Hayden</td>
                                                            <td>23/09/2019</td>
                                                            <td>Yes</td>
                                                            <td>User </td>
                                                            <td><a href="#"><i class="feather icon-edit-1"></i></a>
                                                                <a href="#">
                                                                    <i class="feather icon-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">316</td>
                                                            <td><a
                                                                    href="../../../html/ltr/vertical-menu-template/page-users-view.html">gregory2309</a>
                                                            </td>
                                                            <td>Gregory Hayden</td>
                                                            <td>23/09/2019</td>
                                                            <td>Yes</td>
                                                            <td>User </td>
                                                            <td><a href="#"><i class="feather icon-edit-1"></i></a>
                                                                <a href="#">
                                                                    <i class="feather icon-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">316</td>
                                                            <td><a
                                                                    href="../../../html/ltr/vertical-menu-template/page-users-view.html">gregory2309</a>
                                                            </td>
                                                            <td>Gregory Hayden</td>
                                                            <td>23/09/2019</td>
                                                            <td>Yes</td>
                                                            <td>User </td>
                                                            <td><a href="#"><i class="feather icon-edit-1"></i></a>
                                                                <a href="#">
                                                                    <i class="feather icon-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">316</td>
                                                            <td><a
                                                                    href="../../../html/ltr/vertical-menu-template/page-users-view.html">gregory2309</a>
                                                            </td>
                                                            <td>Gregory Hayden</td>
                                                            <td>23/09/2019</td>
                                                            <td>Yes</td>
                                                            <td>User </td>
                                                            <td><a href="#"><i class="feather icon-edit-1"></i></a>
                                                                <a href="#">
                                                                    <i class="feather icon-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">316</td>
                                                            <td><a
                                                                    href="../../../html/ltr/vertical-menu-template/page-users-view.html">gregory2309</a>
                                                            </td>
                                                            <td>Gregory Hayden</td>
                                                            <td>23/09/2019</td>
                                                            <td>Yes</td>
                                                            <td>User </td>
                                                            <td><a href="#"><i class="feather icon-edit-1"></i></a>
                                                                <a href="#">
                                                                    <i class="feather icon-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">316</td>
                                                            <td><a
                                                                    href="../../../html/ltr/vertical-menu-template/page-users-view.html">gregory2309</a>
                                                            </td>
                                                            <td>Gregory Hayden</td>
                                                            <td>23/09/2019</td>
                                                            <td>Yes</td>
                                                            <td>User </td>
                                                            <td><a href="#"><i class="feather icon-edit-1"></i></a>
                                                                <a href="#">
                                                                    <i class="feather icon-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">316</td>
                                                            <td><a
                                                                    href="../../../html/ltr/vertical-menu-template/page-users-view.html">gregory2309</a>
                                                            </td>
                                                            <td>Gregory Hayden</td>
                                                            <td>23/09/2019</td>
                                                            <td>Yes</td>
                                                            <td>User </td>
                                                            <td><a href="#"><i class="feather icon-edit-1"></i></a>
                                                                <a href="#">
                                                                    <i class="feather icon-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">316</td>
                                                            <td><a
                                                                    href="../../../html/ltr/vertical-menu-template/page-users-view.html">gregory2309</a>
                                                            </td>
                                                            <td>Gregory Hayden</td>
                                                            <td>23/09/2019</td>
                                                            <td>Yes</td>
                                                            <td>User </td>
                                                            <td><a href="#"><i class="feather icon-edit-1"></i></a>
                                                                <a href="#">
                                                                    <i class="feather icon-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">316</td>
                                                            <td><a
                                                                    href="../../../html/ltr/vertical-menu-template/page-users-view.html">gregory2309</a>
                                                            </td>
                                                            <td>Gregory Hayden</td>
                                                            <td>23/09/2019</td>
                                                            <td>Yes</td>
                                                            <td>User </td>
                                                            <td><a href="#"><i class="feather icon-edit-1"></i></a>
                                                                <a href="#">
                                                                    <i class="feather icon-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                                <!-- datatable ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- users list ends -->
        </div>
    </div>
</div>

{% endblock %}


{% block custom_script %}
    <script>
        
        $(document).ready(function() {
            $("#users-list-datatable").DataTable();
        })
       
    </script>
{% endblock custom_script %}