{% extends 'users/base.html' %} {% load static %}

<!-- BEGIN: Content-->
{% block content %}
<div class="container-fluid">
  <div class="row match-height">
    <div class="col-xl-3 col-md-3"></div>
    <div class="pt-1 col-xl-6 col-md-6 col-sm-12">
      <div class="card" style="height: 609.984px">
        <div class="card-content pt-3">
          <div class="card-body">
            <img
              style="
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 35%;
              "
              src="{% static 'app-assets/images/portrait/medium/avatar-m-4.png' %}"
              class="rounded-circle height-160"
              alt="Card image"
            />
          </div>
          <div class="card-body container-fluid">
            <h3 class="card-title text-center">{{user.profile.full_name}}</h3>
            <div class="row">
              <div class="col-lg-2 col-md-2"></div>
           {% if user.is_authenticated %}
              <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 id="user_tpye">Member</h6>
                <h6 id="user_id">{{user.username}}</h6>
                <h6 id="user_tpye">{{user.profile.created_date}}</h6>
                <h6 id="user_tpye">{{user.profile.birth_date}}</h6>
                <h6 id="user_id">{{user.profile.package_id}}</h6>
                <h6 id="user_tpye">{{user.profile.email}}</h6>
              </div>
              <div class="col-lg-1 col-md-1"></div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 id="user_id">{{user.profile.mobile_no}}</h6>
                <h6 id="user_tpye">{{user.profile.address}},{{user.profile.country}}</h6>
                <h6 id="user_id">{{user.profile.country}}</h6>
                <h6 id="tnx_number">{{user.profile.tnx_no}}</h6>
              </div>
               {% endif %} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
