{% extends 'users/base.html' %} {% load static %}

<!-- BEGIN: Content-->
{% block content %}
<div class="container-fluid">
  <div class="row match-height">
    <div class="col-xl-3 col-md-3"></div>
    <div class="pt-1 col-xl-6 col-md-6 col-sm-12">
      <div class="card" style="height: 609.984px">
        <div class="card-content pt-3">
          <div class="card-body">
            <img
              style="
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 15%;
              "
              src="{{ profile.photo.url }}"
              class="rounded-circle height-160"
              alt="Card image"
            />
          </div>
          <div class="card-body container-fluid">
            <h3 class="card-title text-center">{{ usertype }}</h3>
            <div class="row">
              <table class="table table-xl mb-0">
                <thead>
                    <tr>
                      <th>Full Name</th>
                      <td>{{ profile.full_name }}</td>
                      <th>Mobile</th>
                      <td>{{ profile.mobile_no }}</td>
                         
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Country</th>
                        <td>{{ profile.country }}</td>
                        <th>Divistion</th>
                        <td>{{ profile.division }}</td>
                    </tr>
                    <tr>
                      <th>District</th>
                      <td>{{ profile.district }}</td>
                      <th>Address</th>
                      <td>{{ profile.address }}</td>
                        
                    </tr>
                    <tr>
                      <th>Account Created On</th>
                      <td>{{ profile.created_date }}</td>
                      <th>Birth Date</th>
                      <td>{{ profile.birth_date }}</td>
                        
                    </tr>
                    <tr>
                      <th>Updated Date</th>
                      <td>{{ profile.updated_date }}</td>
                      <th>BTC Address</th>
                      <td>{{ profile.BTCAddress }}</td>
                        
                    </tr>
                </tbody>
            </table>
 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
