<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h2>HTML Table</h2>

    <table>
      <tr>
        <th>Use name</th>
        <th>Full name</th>
        <th>photo</th>
        <th>Country</th>
        <th>address</th>
        <th>transaction no</th>
        <th>agent id</th>
        <th>pckage id</th>
        <th>mobile no</th>
        <th>user_position_status</th>
        <th>birth_date</th>
        <th>current_wallet</th>
        <th>registration_wallet</th>
        <th>sponsor_wallet</th>
        <th>founder_wallet</th>
        <th>created_date</th>
        <th>updated_date </th>
      </tr>
  
    {% if user.is_authenticated %}
   
      <tr>
  
      <td>{{user.username}}</td>
        <td>{{ profiles_data.full_name }}</td>
        
         <td>{{profiles_data.photo}}</td>
        
        <td>{{profiles_data.country}}</td>
        <td>{{profiles_data.address}}</td>
        <td>{{profiles_data.tnx_no}}</td>
        <td>{{profiles_data.agent_id}}</td>
         <td>{{profiles_data.package_id}}</td>
          <td>{{profiles_data.mobile_no}}</td>
          
            <td>{{profiles_data.birth_date}}</td>
             <td>{{profiles_data.current_wallet}}</td>
              <td>{{profiles_data.registration_wallet}}</td>
               <td>{{profiles_data.sponsor_wallet}}</td>
                <td>{{profiles_data.founder_wallet}}</td>
                 <td>{{profiles_data.created_date}}</td>
                  <td>{{profiles_data.updated_date}}</td>
            
      </tr>

                 
          {% endif %} 
     
   
     
    </table>
     <button style="margin-left: 600px;" ><a href="{% url 'edit_profile' %}">Edit Profile</a></button>
 <button type="submit" class="logout"><a href="#">log out</a></button>
  </body>
</html>
