{% load static %}

<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow menu-border" role="navigation" data-menu="menu-wrapper">
    <!-- Horizontal menu content-->
    <div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
        <!-- include ../../../includes/mixins-->
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="{% url 'dash_board' %}" data-toggle="dropdown"><i class="feather icon-home"></i><span data-i18n="Dashboard">Dashboards</span></a>
            </li>

            <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="feather icon-users"></i><span data-i18n="Dashboard">Profile</span></a>
                <ul class="dropdown-menu">
                    <!-- Update Profile button -->
                    <li data-menu=""><a class="dropdown-item" href="{% url 'update_profile' %}" data-i18n="eCommerce" data-toggle="dropdown">Profile Update</a>
                    </li>

                    <li data-menu=""><a class="dropdown-item" href="{% url 'profile' %}"  data-i18n="Fitness" data-toggle="dropdown">My Profile</a>
                    </li>
                    <!-- 
                    <li data-menu=""><a class="dropdown-item" href="dashboard-crm.html" data-i18n="CRM" data-toggle="dropdown">CRM</a>
                    </li> -->
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="feather icon-globe"></i><span data-i18n="Dashboard">Network</span></a>
                <ul class="dropdown-menu">
                   

                    <li data-menu=""><a class="dropdown-item" href="{% url 'downline_link' %}" data-i18n="Analytics" data-toggle="dropdown">Downline Network</a>
                    </li>
                    
                    <!-- 
                    <li data-menu=""><a class="dropdown-item" href="dashboard-crm.html" data-i18n="CRM" data-toggle="dropdown">CRM</a>
                    </li> -->
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="feather icon-printer"></i><span data-i18n="Templates">Reports</span></a>
                <ul class="dropdown-menu">
                    <li data-menu=""><a class="dropdown-item" href="{% url 'sponsor_reports' %}" data-i18n="Modern Menu" data-toggle="dropdown">Sponsor Reports</a>
                    </li>
                    <li data-menu=""><a class="dropdown-item" href="{% url 'transfer_reports' %}" data-i18n="Chat Application" data-toggle="dropdown">Transfer Reports</a>
                    </li>
                    <li data-menu=""><a class="dropdown-item" href="{% url 'exchange_reports' %}" data-i18n="Todo Application" data-toggle="dropdown">Exchange Reports</a>
                    </li>
                    <!-- <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Vertical" data-toggle="dropdown">Vertical</a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="../vertical-modern-menu-template" data-i18n="Modern Menu" data-toggle="dropdown">Modern Menu</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="../vertical-collapsed-menu-template" data-i18n="Collapsed Menu" data-toggle="dropdown">Collapsed Menu</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="../vertical-menu-template" data-i18n="Semi Light" data-toggle="dropdown">Semi Light</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="../vertical-menu-template-semi-dark" data-i18n="Semi Dark" data-toggle="dropdown">Semi Dark</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="../vertical-menu-template-nav-dark" data-i18n="Nav Dark" data-toggle="dropdown">Nav Dark</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="../vertical-menu-template-light" data-i18n="Light" data-toggle="dropdown">Light</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="../vertical-overlay-menu-template" data-i18n="Overlay Menu" data-toggle="dropdown">Overlay Menu</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Horizontal" data-toggle="dropdown">Horizontal</a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="../horizontal-menu-template" data-i18n="Classic" data-toggle="dropdown">Classic</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="../horizontal-menu-template-nav" data-i18n="Nav Dark" data-toggle="dropdown">Nav Dark</a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="feather icon-layout"></i><span data-i18n="Layouts">Stairs</span></a>
                <!-- <ul class="dropdown-menu">
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Page Layouts" data-toggle="dropdown">Page Layouts</a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="horizontal-layout-1-column.html" data-i18n="1 column" data-toggle="dropdown">1 column</a>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Content Det. Sidebar" data-toggle="dropdown">Content Det. Sidebar</a>
                                <ul class="dropdown-menu">
                                    <li data-menu=""><a class="dropdown-item" href="layout-content-detached-left-sidebar.html" data-i18n="Detached left sidebar" data-toggle="dropdown">Detached left sidebar</a>
                                    </li>
                                    <li data-menu=""><a class="dropdown-item" href="layout-content-detached-left-sticky-sidebar.html" data-i18n="Detached sticky left sidebar" data-toggle="dropdown">Detached sticky left sidebar</a>
                                    </li>
                                    <li data-menu=""><a class="dropdown-item" href="layout-content-detached-right-sidebar.html" data-i18n="Detached right sidebar" data-toggle="dropdown">Detached right sidebar</a>
                                    </li>
                                    <li data-menu=""><a class="dropdown-item" href="layout-content-detached-right-sticky-sidebar.html" data-i18n="Detached sticky right sidebar" data-toggle="dropdown">Detached sticky right sidebar</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li data-menu=""><a class="dropdown-item" href="layout-fixed-navigation.html" data-i18n="Fixed navigation" data-toggle="dropdown">Fixed navigation</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li data-menu=""><a class="dropdown-item" href="layout-fixed.html" data-i18n="Fixed layout" data-toggle="dropdown">Fixed layout</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="layout-boxed.html" data-i18n="Boxed layout" data-toggle="dropdown">Boxed layout</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="layout-static.html" data-i18n="Static layout" data-toggle="dropdown">Static layout</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li data-menu=""><a class="dropdown-item" href="layout-light.html" data-i18n="Light layout" data-toggle="dropdown">Light layout</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="layout-dark.html" data-i18n="Dark layout" data-toggle="dropdown">Dark layout</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Navbars" data-toggle="dropdown">Navbars</a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="navbar-light.html" data-i18n="Navbar Light" data-toggle="dropdown">Navbar Light</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="navbar-dark.html" data-i18n="Navbar Dark" data-toggle="dropdown">Navbar Dark</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="navbar-semi-dark.html" data-i18n="Navbar Semi Dark" data-toggle="dropdown">Navbar Semi Dark</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="navbar-brand-center.html" data-i18n="Brand Center" data-toggle="dropdown">Brand Center</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="navbar-components.html" data-i18n="Navbar Components" data-toggle="dropdown">Navbar Components</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="navbar-styling.html" data-i18n="Navbar Styling" data-toggle="dropdown">Navbar Styling</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Vertical Nav" data-toggle="dropdown">Vertical Nav</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Navigation Types" data-toggle="dropdown">Navigation Types</a>
                                <ul class="dropdown-menu">
                                    <li data-menu=""><a class="dropdown-item" href="../vertical-menu-template" data-i18n="Semi Light" data-toggle="dropdown">Semi Light</a>
                                    </li>
                                    <li data-menu=""><a class="dropdown-item" href="../vertical-menu-template-semi-dark" data-i18n="Semi Dark" data-toggle="dropdown">Semi Dark</a>
                                    </li>
                                    <li data-menu=""><a class="dropdown-item" href="../vertical-menu-template-nav-dark" data-i18n="Nav Dark" data-toggle="dropdown">Nav Dark</a>
                                    </li>
                                    <li data-menu=""><a class="dropdown-item" href="../vertical-menu-template-light" data-i18n="Light" data-toggle="dropdown">Light</a>
                                    </li>
                                    <li data-menu=""><a class="dropdown-item" href="../vertical-overlay-menu-template" data-i18n="Overlay Menu" data-toggle="dropdown">Overlay Menu</a>
                                    </li>
                                </ul>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="vertical-nav-compact-menu.html" data-i18n="Compact Menu" data-toggle="dropdown">Compact Menu</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Horizontal Nav" data-toggle="dropdown">Horizontal Nav</a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="../horizontal-menu-template" data-i18n="Left Icon Navigation" data-toggle="dropdown">Left Icon Navigation</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-fixed.html" data-i18n="Fixed Navigation" data-toggle="dropdown">Fixed Navigation</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-flipped.html" data-i18n="Flipped Navigation" data-toggle="dropdown">Flipped Navigation</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-submenu-click.html" data-i18n="Submenu on Click" data-toggle="dropdown">Submenu on Click</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-submenu-hover.html" data-i18n="Submenu on Hover" data-toggle="dropdown">Submenu on Hover</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-light.html" data-i18n="Light Navigation" data-toggle="dropdown">Light Navigation</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-dark.html" data-i18n="Dark Navigation" data-toggle="dropdown">Dark Navigation</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-right-side-icons.html" data-i18n="Right side icons" data-toggle="dropdown">Right side icons</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-no-dropdown.html" data-i18n="No Dropdown Arrow" data-toggle="dropdown">No Dropdown Arrow</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-disabled.html" data-i18n="Disabled Navigation" data-toggle="dropdown">Disabled Navigation</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-tags-pills.html" data-i18n="Tags &amp; Pills" data-toggle="dropdown">Tags &amp; Pills</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="horizontal-nav-styling.html" data-i18n="Navigation Styling" data-toggle="dropdown">Navigation Styling</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Page Headers" data-toggle="dropdown">Page Headers</a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="headers-breadcrumbs-basic.html" data-i18n="Breadcrumbs basic" data-toggle="dropdown">Breadcrumbs basic</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="headers-breadcrumbs-top.html" data-i18n="Breadcrumbs top" data-toggle="dropdown">Breadcrumbs top</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="headers-breadcrumbs-bottom.html" data-i18n="Breadcrumbs bottom" data-toggle="dropdown">Breadcrumbs bottom</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="headers-breadcrumbs-with-button.html" data-i18n="Breadcrumbs with button" data-toggle="dropdown">Breadcrumbs with button</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="headers-breadcrumbs-with-round-button.html" data-i18n="Breadcrumbs with round button 2" data-toggle="dropdown">Breadcrumbs with round button 2</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="headers-breadcrumbs-with-stats.html" data-i18n="Breadcrumbs with stats" data-toggle="dropdown">Breadcrumbs with stats</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Footers" data-toggle="dropdown">Footers</a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="footer-light.html" data-i18n="Footer Light" data-toggle="dropdown">Footer Light</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="footer-dark.html" data-i18n="Footer Dark" data-toggle="dropdown">Footer Dark</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="footer-transparent.html" data-i18n="Footer Transparent" data-toggle="dropdown">Footer Transparent</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="footer-fixed.html" data-i18n="Footer Fixed" data-toggle="dropdown">Footer Fixed</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="footer-components.html" data-i18n="Footer Components" data-toggle="dropdown">Footer Components</a>
                            </li>
                        </ul>
                    </li>
                </ul> -->
            </li>
            <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="feather icon-box"></i><span data-i18n="Apps">Transactions</span></a>
                <ul class="dropdown-menu">
                    <li data-menu=""><a class="dropdown-item" href="{% url 'balance_add' %}" data-i18n="Email Application" data-toggle="dropdown"> Balance Add</a>
                    </li>
                    <li data-menu=""><a class="dropdown-item" href="{% url 'balance_withdrow' %}" data-i18n="Email Application" data-toggle="dropdown">Balance Withdraw</a>
                    </li>
                    <li data-menu=""><a class="dropdown-item" href="{% url 'balance_transfer' %} " data-i18n="Email Application" data-toggle="dropdown">Balance Transfer</a>
                    </li>
                    
                    <!-- <li data-menu=""><a class="dropdown-item" href="app-kanban.html" data-i18n="Kanban Application" data-toggle="dropdown">Kanban Application</a>
                    </li>
                    <li data-menu=""><a class="dropdown-item" href="app-contacts.html" data-i18n="Contacts" data-toggle="dropdown">Contacts</a>
                    </li>
                    <li data-menu=""><a class="dropdown-item" href="project-summary.html" data-i18n="Project Summary" data-toggle="dropdown">Project Summary</a>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Calender" data-toggle="dropdown">Calender</a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="full-calender-basic.html" data-i18n="Full Calender Basic" data-toggle="dropdown">Full Calender Basic</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="full-calender-events.html" data-i18n="Full Calender Events" data-toggle="dropdown">Full Calender Events</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="full-calender-advance.html" data-i18n="Full Calender Advance" data-toggle="dropdown">Full Calender Advance</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="full-calender-extra.html" data-i18n="Full Calender Extra" data-toggle="dropdown">Full Calender Extra</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-i18n="Invoice" data-toggle="dropdown">Invoice</a>
                        <ul class="dropdown-menu">
                            <li data-menu=""><a class="dropdown-item" href="invoice-list.html" data-i18n="Invoice List" data-toggle="dropdown">Invoice List</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="invoice-view.html" data-i18n="Invoice View" data-toggle="dropdown">Invoice View</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="invoice-edit.html" data-i18n="Invoice Edit" data-toggle="dropdown">invoice Edit</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="invoice-add.html" data-i18n="Invoice Add" data-toggle="dropdown">invoice Add</a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </li>
           
            
        </ul>
    </div>
    <!-- /horizontal menu content-->
</div>